@model FlightModel
@{
    ViewData["Title"] = "Seats";

    var seatIndex = 0;
}
<head>
    <link rel="stylesheet" href="~/css/Flights/detail.css" asp-append-version="true" />
</head>

<div class="flight-id" id="@Model.FlightId"></div>
<section id="seatMapContainer" class="seat-map-grid example-flight">
    <h3>Seat Map</h3>
    @if (Model.TotalNumberOfSeats > 0)
    {
        <button class="submit">Submit Seat</button>
    }
    else
    {
        <p class="unavailable-msg">Sorry, it looks like this flight has no available seats. You can look for other flights <a asp-controller="Flights" asp-action="Index">here.</a></p>
    }

    <div class="econ-class">
        @for (var i = 0; i < Model.NumberOfRows; i++)
        {
            <div class="row">
                @for (var e = 0; e < 6; e++)
                {
                    if (e == 3)
                    {
                        <div class="aisle-number">@(i + 1)</div>
                        <div class="cell seat @Model.Seats.ElementAt(seatIndex).Value" id="@Model.Seats.ElementAt(seatIndex).Key">
                            <i class="fa-solid fa-square fa-2x"></i>
                        </div>
                        seatIndex++;
                    }

                    else
                    {
                        <div class="cell seat @Model.Seats.ElementAt(seatIndex).Value" id="@Model.Seats.ElementAt(seatIndex).Key">
                            <i class="fa-solid fa-square fa-2x"></i>
                        </div>
                        seatIndex++;
                    }
                }
            </div>
        }
    </div>
    <h5>Key:</h5>
    <div class="available key">
        <i class="fa-solid fa-square"></i>
        <p>Available</p>
    </div>
    <div class="unavailable key">
        <i class="fa-solid fa-square"></i>
        <p>Unavailable</p>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/flights.js" asp-append-version="true"></script>
